{{> head }}
{{> navbar }}
<div class="container p-3"><br>
    <div class="row">
        <div class="col">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <h2>Lo que aprenderás</h2>
                </li>
                <li class="list-group-item">Entender la programación asíncrona y orientada a eventos</li>
                <li class="list-group-item">Entender y utilizar NodeJS en sus proyectos</li>
                <li class="list-group-item">Entender que son Módulos o Paquetes en NodeJS</li>
                <li class="list-group-item">Crear nuevos Módulos en NodeJS</li>
                <li class="list-group-item">Entender como usar NPM para instalar nuevos módulos y para crear propios
                </li>
                <li class="list-group-item">Uso de bases de datos NoSQL con MongoDB</li>
                <li class="list-group-item">Entender el uso de Mongoose para MongoDB y NodeJS</li>
                <li class="list-group-item">Entender como usar los métodos del sistema de archivos</li>
                <li class="list-group-item">Crear aplicaciones que interactúen con el sistema de archivos</li>
                <li class="list-group-item">Despliegues en Heroku</li>
                <li class="list-group-item">Entender que son websockets y como se usan</li>
                <li class="list-group-item"></li>
            </ul>
        </div>
        <div class="col p-4">
            <img src="https://upload.wikimedia.org/wikipedia/commons/d/d9/Node.js_logo.svg" class="img-thumbnail float-right"
                alt="NodeJS">
        </div>
    </div>
</div>
</div>
{{> footer }}